<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TMedicalCpoeBedMapper">
    
    <resultMap type="TMedicalCpoeBed" id="TMedicalCpoeBedResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sickroomid"    column="sickroomId"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTMedicalCpoeBedVo">
        select id, name, sickroomId, remark from t_medical_cpoe_bed
    </sql>

    <select id="selectTMedicalCpoeBedList" parameterType="TMedicalCpoeBed" resultMap="TMedicalCpoeBedResult">
        <include refid="selectTMedicalCpoeBedVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sickroomid != null  and sickroomid != ''"> and sickroomId = #{sickroomid}</if>
        </where>
    </select>
    
    <select id="selectTMedicalCpoeBedById" parameterType="String" resultMap="TMedicalCpoeBedResult">
        <include refid="selectTMedicalCpoeBedVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMedicalCpoeBed" parameterType="TMedicalCpoeBed">
        insert into t_medical_cpoe_bed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="sickroomid != null">sickroomId,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="sickroomid != null">#{sickroomid},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTMedicalCpoeBed" parameterType="TMedicalCpoeBed">
        update t_medical_cpoe_bed
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sickroomid != null">sickroomId = #{sickroomid},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMedicalCpoeBedById" parameterType="String">
        delete from t_medical_cpoe_bed where id = #{id}
    </delete>

    <delete id="deleteTMedicalCpoeBedByIds" parameterType="String">
        delete from t_medical_cpoe_bed where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>