<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TMedicalDrugsStorageMapper">
    
    <resultMap type="TMedicalDrugsStorage" id="TMedicalDrugsStorageResult">
        <result property="id"    column="id"    />
        <result property="drugsid"    column="drugsId"    />
        <result property="no"    column="no"    />
        <result property="updatetime"    column="updateTime"    />
        <result property="player"    column="player"    />
    </resultMap>

    <sql id="selectTMedicalDrugsStorageVo">
        select id, drugsId, no, updateTime, player from t_medical_drugs_storage
    </sql>

    <select id="selectTMedicalDrugsStorageList" parameterType="TMedicalDrugsStorage" resultMap="TMedicalDrugsStorageResult">
        <include refid="selectTMedicalDrugsStorageVo"/>
        <where>  
            <if test="drugsid != null  and drugsid != ''"> and drugsId = #{drugsid}</if>
            <if test="no != null "> and no = #{no}</if>
            <if test="updatetime != null "> and updateTime = #{updatetime}</if>
            <if test="player != null  and player != ''"> and player = #{player}</if>
        </where>
    </select>
    
    <select id="selectTMedicalDrugsStorageById" parameterType="String" resultMap="TMedicalDrugsStorageResult">
        <include refid="selectTMedicalDrugsStorageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMedicalDrugsStorage" parameterType="TMedicalDrugsStorage">
        insert into t_medical_drugs_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="drugsid != null">drugsId,</if>
            <if test="no != null">no,</if>
            <if test="updatetime != null">updateTime,</if>
            <if test="player != null">player,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="drugsid != null">#{drugsid},</if>
            <if test="no != null">#{no},</if>
            <if test="updatetime != null">#{updatetime},</if>
            <if test="player != null">#{player},</if>
         </trim>
    </insert>

    <update id="updateTMedicalDrugsStorage" parameterType="TMedicalDrugsStorage">
        update t_medical_drugs_storage
        <trim prefix="SET" suffixOverrides=",">
            <if test="drugsid != null">drugsId = #{drugsid},</if>
            <if test="no != null">no = #{no},</if>
            <if test="updatetime != null">updateTime = #{updatetime},</if>
            <if test="player != null">player = #{player},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMedicalDrugsStorageById" parameterType="String">
        delete from t_medical_drugs_storage where id = #{id}
    </delete>

    <delete id="deleteTMedicalDrugsStorageByIds" parameterType="String">
        delete from t_medical_drugs_storage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>