<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TMedicalLisInfoMapper">
    
    <resultMap type="TMedicalLisInfo" id="TMedicalLisInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="personid"    column="personId"    />
        <result property="doctorid"    column="doctorid"    />
        <result property="createTime"    column="createTime"    />
        <result property="status"    column="status"    />
        <result property="receiverecordid"    column="receiveRecordId"    />
    </resultMap>

    <sql id="selectTMedicalLisInfoVo">
        select id, name, personId, doctorid, createTime, status, receiveRecordId from t_medical_lis_info
    </sql>

    <select id="selectTMedicalLisInfoList" parameterType="TMedicalLisInfo" resultMap="TMedicalLisInfoResult">
        <include refid="selectTMedicalLisInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="personid != null  and personid != ''"> and personId = #{personid}</if>
            <if test="doctorid != null  and doctorid != ''"> and doctorid = #{doctorid}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="receiverecordid != null  and receiverecordid != ''"> and receiveRecordId = #{receiverecordid}</if>
        </where>
    </select>
    
    <select id="selectTMedicalLisInfoById" parameterType="String" resultMap="TMedicalLisInfoResult">
        <include refid="selectTMedicalLisInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMedicalLisInfo" parameterType="TMedicalLisInfo">
        insert into t_medical_lis_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="personid != null">personId,</if>
            <if test="doctorid != null">doctorid,</if>
            <if test="createTime != null">createTime,</if>
            <if test="status != null">status,</if>
            <if test="receiverecordid != null">receiveRecordId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="personid != null">#{personid},</if>
            <if test="doctorid != null">#{doctorid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="receiverecordid != null">#{receiverecordid},</if>
         </trim>
    </insert>

    <update id="updateTMedicalLisInfo" parameterType="TMedicalLisInfo">
        update t_medical_lis_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="personid != null">personId = #{personid},</if>
            <if test="doctorid != null">doctorid = #{doctorid},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="receiverecordid != null">receiveRecordId = #{receiverecordid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMedicalLisInfoById" parameterType="String">
        delete from t_medical_lis_info where id = #{id}
    </delete>

    <delete id="deleteTMedicalLisInfoByIds" parameterType="String">
        delete from t_medical_lis_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>